.top-nav {
  height: auto;
  background-color:#d1e3db;
}

.top-nav-left {
  float: left;
  background-color: inherit;
}

.top-nav-right {
  float: right;
  background-color: inherit;
}

.top-nav-right a {
  margin-right: 10px;
}
